input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=radio],
input[type=checkbox] {
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}

.radioInput + label:before {
  height: 16px;
  width: 16px;
  margin-right: 0.85rem;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  border: 0.7px solid #000000;
}

.radioInput__square + .label-radio-input__before:after{
  height: 16px;
  width: 16px;
  margin-left: 0.85rem;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  border: 0.7px solid #000000;
}

.radioInput:checked + label:before {
  background: radial-gradient(circle closest-side, #000000 5px, white 4.6px);
}

.radioInput__square:checked + .label-radio-input__before:after {
  background: #000000 url('../../src/assets/img/modal/check-checkbox.svg') center no-repeat;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
.radioInput + label:before {
  border-radius: 50%;
}

.radioInput__square + .label-radio-input__before:after {
  border-radius: 2px;
  border: 0.5px solid #000000;
}