@import "src/styles/radio-btn";
@import "src/styles/custom-select";
@import "src/styles/search-field.scss";
@import 'src/styles/content-filters-field-item.scss';

.jobSearchScreen-wrapper {
  display: flex;
  flex-direction: column;
  width: 1412px;
  margin: 0 auto;
}