# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
/src/assets/fonts/GraphikLCG-Black.eot
/src/assets/fonts/GraphikLCG-Black.ttf
/src/assets/fonts/GraphikLCG-Black.woff
/src/assets/fonts/GraphikLCG-Black.woff2
/src/assets/fonts/GraphikLCG-BlackItalic.eot
/src/assets/fonts/GraphikLCG-BlackItalic.ttf
/src/assets/fonts/GraphikLCG-BlackItalic.woff
/src/assets/fonts/GraphikLCG-BlackItalic.woff2
/src/assets/fonts/GraphikLCG-Bold.eot
/src/assets/fonts/GraphikLCG-Bold.ttf
/src/assets/fonts/GraphikLCG-Bold.woff
/src/assets/fonts/GraphikLCG-Bold.woff2
/src/assets/fonts/GraphikLCG-BoldItalic.eot
/src/assets/fonts/GraphikLCG-BoldItalic.ttf
/src/assets/fonts/GraphikLCG-BoldItalic.woff
/src/assets/fonts/GraphikLCG-BoldItalic.woff2
/src/assets/fonts/GraphikLCG-Extralight.eot
/src/assets/fonts/GraphikLCG-Extralight.ttf
/src/assets/fonts/GraphikLCG-Extralight.woff
/src/assets/fonts/GraphikLCG-Extralight.woff2
/src/assets/fonts/GraphikLCG-ExtralightItalic.eot
/src/assets/fonts/GraphikLCG-ExtralightItalic.ttf
/src/assets/fonts/GraphikLCG-ExtralightItalic.woff
/src/assets/fonts/GraphikLCG-ExtralightItalic.woff2
/src/assets/fonts/GraphikLCG-Light.eot
/src/assets/fonts/GraphikLCG-Light.ttf
/src/assets/fonts/GraphikLCG-Light.woff
/src/assets/fonts/GraphikLCG-Light.woff2
/src/assets/fonts/GraphikLCG-LightItalic.eot
/src/assets/fonts/GraphikLCG-LightItalic.ttf
/src/assets/fonts/GraphikLCG-LightItalic.woff
/src/assets/fonts/GraphikLCG-LightItalic.woff2
/src/assets/fonts/GraphikLCG-Medium.eot
/src/assets/fonts/GraphikLCG-Medium.ttf
/src/assets/fonts/GraphikLCG-Medium.woff
/src/assets/fonts/GraphikLCG-Medium.woff2
/src/assets/fonts/GraphikLCG-MediumItalic.eot
/src/assets/fonts/GraphikLCG-MediumItalic.ttf
/src/assets/fonts/GraphikLCG-MediumItalic.woff
/src/assets/fonts/GraphikLCG-MediumItalic.woff2
/src/assets/fonts/GraphikLCG-Regular.eot
/src/assets/fonts/GraphikLCG-Regular.ttf
/src/assets/fonts/GraphikLCG-Regular.woff
/src/assets/fonts/GraphikLCG-Regular.woff2
/src/assets/fonts/GraphikLCG-RegularItalic.eot
/src/assets/fonts/GraphikLCG-RegularItalic.ttf
/src/assets/fonts/GraphikLCG-RegularItalic.woff
/src/assets/fonts/GraphikLCG-RegularItalic.woff2
/src/assets/fonts/GraphikLCG-Semibold.eot
/src/assets/fonts/GraphikLCG-Semibold.ttf
/src/assets/fonts/GraphikLCG-Semibold.woff
/src/assets/fonts/GraphikLCG-Semibold.woff2
/src/assets/fonts/GraphikLCG-SemiboldItalic.eot
/src/assets/fonts/GraphikLCG-SemiboldItalic.ttf
/src/assets/fonts/GraphikLCG-SemiboldItalic.woff
/src/assets/fonts/GraphikLCG-SemiboldItalic.woff2
/src/assets/fonts/GraphikLCG-Super.eot
/src/assets/fonts/GraphikLCG-Super.ttf
/src/assets/fonts/GraphikLCG-Super.woff
/src/assets/fonts/GraphikLCG-Super.woff2
/src/assets/fonts/GraphikLCG-SuperItalic.eot
/src/assets/fonts/GraphikLCG-SuperItalic.ttf
/src/assets/fonts/GraphikLCG-SuperItalic.woff
/src/assets/fonts/GraphikLCG-SuperItalic.woff2
/src/assets/fonts/GraphikLCG-Thin.eot
/src/assets/fonts/GraphikLCG-Thin.ttf
/src/assets/fonts/GraphikLCG-Thin.woff
/src/assets/fonts/GraphikLCG-Thin.woff2
/src/assets/fonts/GraphikLCG-ThinItalic.eot
/src/assets/fonts/GraphikLCG-ThinItalic.ttf
/src/assets/fonts/GraphikLCG-ThinItalic.woff
/src/assets/fonts/GraphikLCG-ThinItalic.woff2
/src/assets/img/vacancy-card/published_at-icon.svg
