.header-wrapper {
  width: 100%;

  .header-content {
    width: 1412px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.9rem 0;

    .side-header {
      display: flex;
      align-items: center;
      gap: 1.4rem;

      &__leftSide {
        gap: 5.7rem;
        font-size: 1.4rem;
        line-height: 20px;
        letter-spacing: 0.05em;

        .header-nav {
          display: flex;
          gap: 12px;
          font-weight: 300;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 0.05em;

          .header-navItem {
            cursor: pointer;
            padding: 8px 16px;

            &__active {
              background: #EDECEA;
              border-radius: 30px;
            }
          }
        }
      }

      .header-nav-personal {
        cursor: pointer;

        .likes-icon {
          stroke: #000000;
          box-shadow: none;

          &:hover {
            path{
              fill: #FFFFFF;
              stroke: #FFFFFF;
              box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.15);
            }

            rect {
              fill: #000000;
            }
          }
        }

        .personal-icon{
          stroke: #000000;

          &:hover {
            path{
              stroke: #FFFFFF;
            }

            rect {
              fill: #000000;
            }
          }
        }
      }
    }
  }
}