.variantSorted-wrapper{
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

}

.variantsSorted {
  position: relative;
  z-index: 11;
  .variantSorted-select-btn {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.05em;
    border-radius: 30px;
    padding: 12px 18px;

    background: #EDECEA;

    position: relative;
    z-index: 2;

    &__active {
      background: #E3EDFF;
    }

    &:hover {
      background: #F6F5F3;
    }

    .btn-wrapper-array-img__closed {
      img {
        transform: rotate(180deg);
        transition: 1s
      }
    }
  }

  .variantSorted-option-wrapper {
    position: absolute;
    background: #F6F5F3;
    border-radius: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding-top: 2px;
    top: 80%;
    right: 0;

    .variantSorted-element {
      padding: 12px 20px;
      white-space: nowrap;

      &:last-child {
        padding: 12px 20px 16px 20px;
      }

      &:hover {
        background: #EDECEA;

        &:first-child {
          border-radius: 23px 23px 0 0;
        }

        &:last-child {
          border-radius: 0 0 23px 23px;
        }
      }
    }
  }
}